



<%= form_for current_user.lists.build(:name => list_relative_tomorrow) do |f| %>

  <div><%= f.hidden_field :name %></div>

  <div class="actions"><%= f.submit "Plan for tomorrow" %></div>						

<% end %>



<!-- , :remote => true -->