
<table class="front" summary="For signed-in users">
	<tr>
	    <td class="main">
			<table summary="Todaylist">
				<tr>
					<td>		
						<div data-pjax-container>
						
						  <% if @list %>
						    <div id="current_list">
								<h3><%= @list.name.to_date.strftime("%A") %></h3>
							</div>
						  <% end %>
			
						  <% if @list == @user.lists.last %>
							<%= render 'lists/list_form' %>

						  <% else %>				
		   					<div class="forwardlist">
								<h2>
									<%= link_to "Plan for tomorrow", :list_position => @list.lower_item.position %> 
								</h2>
							</div>  
						  <% end %>

						<% unless today_list?(@list) %>
							<div class="backlist">
							    <h2>
							      <%= link_to "back", :list_position => @list.higher_item.position %> 
								</h2>
							</div>
						<% end %>

					 	</div>				
								
					</td>
				</tr>
			</table>
	    </td>
	</tr>
</table>