<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
		<h1 class="Todaylist">
		<%= @list.name %></h1>
		
		<%= render 'lists/list_form' %> 
      </td>

		</tr>
	</table>

<% else  %>

	<h1>Grok</h1>

	<p>
	  This is the home page for the
					
					Grok
	</p>

	<%= link_to "Sign up now! ", new_user_registration_path, :class => "signup_button round" %>

<% end %>